.top-header{
	background-color:$secondary-bg-color;
	padding:15px;
	font-size:.8em;
	@extend %clear;

	.logo{
		float:left;
	}
	> *{
		float:right;
	}
	.main-nav{

		margin-right: 30px;
		a{
			margin-right:15px;
			color:$secondary-bg-text-hover;
			&:hover{
				color:$secondary-bg-text;
			}
		}
	}
}