%clear{
	&:after{
		clear: both;
		display: block;
		content: " ";
		height: 0px;
		visibility: hidden;
	}
}

.emphasize{
	color:$brand-color;
}
.tel{
	color:$secondary-bg-text-hover;
	&:hover{
		color:$secondary-bg-text;
	}
}
.separator{
	margin:0 2px;
}