@import "jeet/framework";
/**
* declare your variables here. feel free to make a new file
**/
$base-color: #f1f1f1;
$default-font-color:#777;

/**
*Base Styles
**/
body{
	font-size:100%;
	color:$default-font-color;
}
%clear{
	&:after{
		clear: both;
		display: block;
		content: " ";
		height: 0px;
		visibility: hidden;
	}
}
#{ headings() }{
	margin:0;
}

/**
*imports
**/
@import "modules/all";
@import "partials/all";