@import "vendor/jeet/index";
/**
* declare your variables here. feel free to make a new file
**/
$base-color: #444;
$base-hover:#888;
$brand-color:#4AB75C;

/**
*Base Styles
**/
body{
	font-size:.9em;
	color:$base-color;
}


/**
*imports
**/
@import "core/all";
@import "components/all";