/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: jeet(gutter))
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: jeet(gutter))
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
*Base Styles
**/
/* line 7, ../sass/main.scss */
body {
  font-size: .9em;
  color: #444444; }

/**
*imports
**/
/* line 1, ../sass/core/_helpers.scss */
.clear {
  clear: both; }

/* line 4, ../sass/core/_theme.scss */
.theme-brand {
  background-color: #4ab75c;
  color: #b548a3;
  border: 1px solid #255d2e; }

/* line 1, ../sass/core/_typography.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

/* line 6, ../sass/core/_typography.scss */
a:hover {
  text-decoration: none;
  color: #4ab75c; }

/* No files to import found in components/** */
